div {
	border-radius: 5px;
}

#header {
	z-index: 1;
/*	position: fixed;*/
	width: 100%;
	margin-top: 0px;
	height: 60px;
	background-color: #8FD3F0;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}

li {
	list-style-type: square;
}

a:hover {
	font-weight: bold;
}

.left {
	position: relative;
	float: left;
	margin-top: 5px;
	width: 10%;
	height: 400px;
	background-color: #8FD3F0;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 5px;
	width: 100%;
	height: 550px;
	background-color: #8FD3F0;
	margin-bottom: 10px;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #8FD3F0;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}
